 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
}
.top-container {
    display: flex;
    justify-content: space-between;
    width: 240px; /* Match the width of the Tetris canvas */
    align-items: center; /* Align items vertically */
    padding: 10px;
}
.option-button{
    width: 100px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#game-outer-frame {
    background-color: #333; /* Dark grey background */
    border: 2px solid black; /* Black outline */
    padding: 20px;
}
#holdPiece {
    width: 80px; /* Container width */
    height: 80px; /* Container height */
    background-color: #333; /* Dark grey background */
    border: 2px solid black; /* Black outline */
    display: flex;
    justify-content: center;
    align-items: center;
}
#holdCanvas {
    /* Set to the actual pixel dimensions you need for the tetrominoes */
    /* Don't use width and height here to avoid scaling */
    background-color: #333;
}
#score-line{
    font-weight: bold;
}
