body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
}
.top-container {
    display: flex;
    justify-content: space-between;
    width: 240px; /* Match the width of the Tetris canvas */
    align-items: center; /* Align items vertically */
}
#holdPiece {
    width: 40px; /* Reduced width for the hold canvas */
    height: 40px; /* Reduced height for the hold canvas */
    background-color: #333; /* Dark grey background */
    border: 2px solid black; /* Black outline */
    justify-content: center;
    align-items: center;
}
#holdCanvas {
    width: 100%;
    height: 100%;
    background-color: #333;
}